#jogo {
    display: flex;
    background-color: red;
    height: 560px;
    width: 700px;
    margin: 0 auto;
}

.coluna0, .coluna1, .coluna2, .coluna3, .coluna4, .coluna5, .coluna6 {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: solid 1px black;
}

.celula0, .celula1, .celula2, .celula3, .celula4, .celula5, .discoJogador1 {
    height: 70px;
    width: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
}

.played1 {
    background-color: yellow;
}

.played2 {
    background-color: black;
}